@font-face {
  font-family: "graphik-medium";
  src: url(assets/fonts/Graphik-Medium-Web.woff2);
}
@font-face {
  font-family: "graphik-regular";
  src: url("https://www.etsy.com/assets/type/Graphik-Regular-Web.woff2?v=220104");
}
@font-face {
  font-family: "guardian";
  src: url(assets/fonts/Guardian-EgypTT-Light.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}
.etsy-header-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.etsy-logo {
  padding-bottom: 6px;
  width: 60px;
  height: 30px;
  fill: #f1641e;
  margin-top: -5px;
  transform: translateX(-3px);
}
.accounts {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sign-in button {
  color: #222;
  font-size: 13px;
  line-height: 1.4;
  /* min-height: 36px;
  min-width: 36px; */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #fff;
  font-family: "graphik-medium";
  margin-right: 6px;
  transform: translateX(4px);
}

.heart-icon {
  width: 24px;
  height: 24px;
  margin: 12px;
  transform: translate(2px, -1px);
}

.cart-icon {
  width: 24px;
  height: 24px;
  margin: 12px;
  transform: translateY(-1px);
}

.hamburger-logo {
  width: 27px;
  height: 24px;
  margin: 11px 0px;
  transform: translateY(-1px);
}
.header-one-search {
  display: flex;
  align-items: center;
}

.search-bar input {
  background-color: rgba(34, 34, 34, 0.05);
  border-width: 2px;
  border-color: #222;
  padding-left: 18px;
  border-radius: 96px;
  height: 48px;
  width: 100%;
  font-family: "graphik-regular";
  font-size: 16px;
  line-height: 28px;
}
.search-bar {
  margin-left: 32px;
  width: 100%;
  position: relative;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 12px;
  border: none;
}
.main-header-two {
  padding: 12px 36px;
}
.etsy-header-two {
  display: flex;
}

.etsy-nav {
  padding: 0 36px;
}

.etsy-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.etsy-nav li {
  margin: 9px 9px 0px 0px;
  padding: 0px 0px 12px;
}
.etsy-nav li:nth-child(9) {
  white-space: nowrap;
  font-family: "graphik-regular";
  font-weight: 400;
  font-size: 13px;
}
.etsy-nav li {
  text-decoration: none;
  color: #222;
  font-family: "graphik-regular";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.discover-heading h2 {
  font-weight: 300;
  letter-spacing: 0.35px;
  font-size: 20px;
  line-height: 32px;
  font-family: "guardian";
  text-align: center;
  background-color: #d7e6f5;
  padding: 20px 12px 0;
  margin-top: 12px;
}
.discover-content-background {
  background-color: #d7e6f5;
}
.discover-content {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 26.5vh;
  padding: 0 6px;
  justify-content: center;
}

.content-background {
  height: 17vh;
  position: relative;
  width: 33.31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover-images-etsy {
  position: absolute;
  top: 0;
}
.discover-images-etsy ul {
  padding: 6px 6px 0;
  top: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.discover-images-etsy li {
  padding-left: 3.5%;
  padding-right: 2.5%;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover-images-etsy li img {
  max-width: 96px;
  border-radius: 50%;
}
.discover-images-etsy li a {
  text-decoration: none;
  font-family: "graphik-regular";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 18px;
  transform: translateY(-3px);
  color: #222222;
}
.img-container-etsy {
  margin: 12px 0px 6px;
}

a p {
  text-align: center;
}

.deals-of-the-day {
  margin: 0px 0px 30px;
  padding: 0px 12px;
}

.deals-of-the-day-container {
  margin: 122px 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-6px);
}

.deals-of-the-day-container h2 {
  font-size: 24px;
  font-family: "Graphik-Regular";
  font-weight: 700;
  line-height: 32px;
}
.deals-of-the-day-container img {
  width: 12px;
  height: 24px;
  margin-left: 9px;
  cursor: pointer;
}
.deals-of-the-day-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(6px);
  text-decoration: none;
  font-size: 13px;
  font-family: "graphik-regular";
  font-weight: bold;
  color: #222222;
}
.deals-of-the-day-cards {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  width: 44vw;
}

.deals-of-the-day-card-box {
  flex-grow: 1;
  flex-basis: 50%;
  max-width: 50%;
}
.deals-of-the-day-card-box img {
  width: 44vw;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.deals-of-the-day-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deals-of-the-day-text-content {
  padding: 12px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.deals-of-the-day-text {
  font-family: "graphik-regular";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 6px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.deals-of-the-day-offer {
  font-family: "graphik-regular";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.popular-gifts {
  padding: 0px 12px 60px;
  max-width: 1400px;
  margin: 0 auto;
}

.popular-gifts-heading {
  text-align: center;
  padding-bottom: 18px;
}

.popular-gifts-heading h2 {
  font-family: "graphik-regular";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.popular-gifts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transform: translateX(-6px);
}
.popular-gift-card-container {
  padding: 6px;
}
.popular-gifts-cards {
  margin-bottom: 12px;
}

.popular-gifts-cards-img {
  margin-bottom: 6px;
}

.popular-gifts-cards-img img{
  width: 100%;
}

.popular-gift-card-content {
  padding-top: 2px;
  white-space: normal;
  width: 100%;
}
.popular-gift-card-content h3 {
  -webkit-line-clamp: 1;
  font-family: "graphik-regular";
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 3px;
  overflow: hidden;
  width: 45vw;
  color: #222222;
}

.rating-container{
  display: flex;
}
.rating-container span{
  width: 69px;
    height: 12px;
    display: flex;
}

.rating-container span svg{
  width: 14px;
  height: 14px;
}
.rating-count{
  font-size: 13px;
  line-height: 1.6;
  margin-left: 7px;
  transform: translateY(-2px);
  color: #595959;
}
.popular-gift-amount{
  margin-top: 8px;
}
.gift-price{
  margin-left: 4px;
  font-family: 'Graphik-Regular';
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.popular-gift-old-amount{
  margin-left: 5px;
  text-decoration: line-through;
  font-size: 15px;
  color: #258635;
}
.popular-gift-offer{
  margin-left: 5px;
  font-size: 15px;
  color: #258635;
}

@media screen and (min-width: 320px) {
  .main-header-two {
    display: none;
  }
  .etsy-nav {
    display: none;
  }
  .search-bar {
    margin-left: 12px;
  }
}
@media screen and (min-width: 480px) {
  .etsy-logo {
    width: 80px;
    height: 40px;
    margin: 7px 6px 6px 0;
  }
  .sign-in button {
    margin-right: 10px;
  }
  .heart-icon {
    transform: translate(0, -2px);
  }
  .cart-icon {
    transform: translateY(-2px);
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .deals-of-the-day-card-box img {
    width: 30vw;
  }
  .deals-of-the-day-cards {
    width: 30vw;
  }
}

@media screen and (min-width: 640px) {
  .discover-heading h2 {
    font-size: 26px;
    line-height: 42px;
  }
  .discover-content {
    height: 8.5vh;
  }
  .content-background {
    width: 16.31%;
  }

  .discover-images-etsy li img {
    width: 84px;
  }
}

@media screen and (min-width: 900px) {
  .main-header {
    display: none;
  }
  .main-header-two {
    display: block;
  }
  .etsy-header-two {
    max-width: 1400px;
    margin: 0 auto;
  }
  .etsy-logo svg {
    width: 80px;
    height: 40px;
  }
  .search-bar {
    margin-left: 18px;
    padding-right: 14px;
  }
  .search-icon {
    right: 38px;
  }
  .etsy-nav {
    display: block;
  }
  .etsy-nav li {
    margin: -1px 11px 0px 0px;
  }
  .discover-heading h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 0;
  }
  .discover-images-etsy li img {
    max-width: 114px;
    width: 114px;
  }
  .discover-content {
    height: 13.2vh;
  }
  .discover-images-etsy li a {
    font-size: 16px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .deals-of-the-day-card-box img {
    width: 14vw;
  }
  .deals-of-the-day-cards {
    width: 14vw;
  }
  .deals-of-the-day {
    padding: 32px;
  }
}

@media screen and (min-width: 1400px) {
  .etsy-nav ul {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 36px;
  }
  .etsy-header-two {
    margin: 0 20px;
  }
  .content-background {
    width: 12.5%;
  }
  .discover-content {
    transform: translateY(10px);
  }
  .discover-images-etsy li a {
    transform: translateY(3px);
  }
  .etsy-nav {
    padding: 0;
  }
}
