@font-face {
  font-family: "graphik-medium";
  src: url(assets/fonts/Graphik-Medium-Web.woff2);
}
@font-face {
  font-family: "graphik-regular";
  src: url("https://www.etsy.com/assets/type/Graphik-Regular-Web.woff2?v=220104");
}
@font-face {
  font-family: "guardian";
  src: url(assets/fonts/Guardian-EgypTT-Light.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}
.etsy-header-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.etsy-logo {
  padding-bottom: 6px;
  width: 60px;
  height: 30px;
  fill: #f1641e;
  margin-top: -5px;
  transform: translateX(-3px);
}
.accounts {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sign-in button {
  color: #222;
  font-size: 13px;
  line-height: 1.4;
  /* min-height: 36px;
  min-width: 36px; */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #fff;
  font-family: "graphik-medium";
  margin-right: 6px;
  transform: translateX(4px);
}

.heart-icon {
  width: 24px;
  height: 24px;
  margin: 12px;
  transform: translate(2px, -1px);
}

.cart-icon {
  width: 24px;
  height: 24px;
  margin: 12px;
  transform: translateY(-1px);
}

.hamburger-logo {
  width: 27px;
  height: 24px;
  margin: 11px 0px;
  transform: translateY(-1px);
}
.header-one-search {
  display: flex;
  align-items: center;
}

.search-bar input {
  background-color: rgba(34, 34, 34, 0.05);
  border-width: 2px;
  border-color: #222;
  padding-left: 18px;
  border-radius: 96px;
  height: 48px;
  width: 100%;
  font-family: "graphik-regular";
  font-size: 16px;
  line-height: 28px;
}
.search-bar {
  margin-left: 32px;
  width: 100%;
  position: relative;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 12px;
  border: none;
}
.main-header-two {
  padding: 12px 36px;
}
.etsy-header-two {
  display: flex;
}

.etsy-nav {
  padding: 0 36px;
}

.etsy-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.etsy-nav li {
  margin: 9px 9px 0px 0px;
  padding: 0px 0px 12px;
}
.etsy-nav li:nth-child(9) {
  white-space: nowrap;
  font-family: 'graphik-regular';
  font-weight: 400;
  font-size: 13px;
}
.etsy-nav li{
  text-decoration: none;
  color: #222;
  font-family: "graphik-regular";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.discover-heading h2{
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .35px;
  font-size: 20px;
  line-height: 32px;
  font-family: 'guardian';
  text-align: center;
  background-color: #D7E6F5;
  padding: 20px 12px 0;
  margin-top: 12px;
}

.discover-content{
  position: relative;
  margin-bottom: 42px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.content-background{
  height: 17vh;
  background-color: #d7e6f5;
  position: relative;
  width: 83vw;
  left: 50%;
  margin-left: -50vw;
}
.discover-images-etsy{
  position: absolute;
  top: 0;
}
.discover-images-etsy ul{
  padding: 6px 6px 0;
  top: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.discover-images-etsy li{
  padding-left: 3.5%;
  padding-right: 2.5%;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover-images-etsy li img{
  max-width: 96px;
  border-radius: 50%;
}
.discover-images-etsy li a{
  text-decoration: none;
  font-family: 'graphik-regular';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 18px;
  transform: translateY(-3px);
  color: #222222;
}
.img-container-etsy{
  margin: 12px 0px 6px;
}
@media screen and (min-width: 320px) {
  .main-header-two {
    display: none;
  }
  .etsy-nav {
    display: none;
  }
  .search-bar {
    margin-left: 12px;
}
}
@media screen and (min-width: 480px) {
  .etsy-logo {
    width: 80px;
    height: 40px;
    margin: 7px 6px 6px 0;
  }
  .sign-in button {
    margin-right: 10px;
  }
  .heart-icon {
    transform: translate(0, -2px);
  }
  .cart-icon {
    transform: translateY(-2px);
  }
}

@media screen and (min-width: 900px) {
  .main-header {
    display: none;
  }
  .main-header-two {
    display: block;
  }
  .etsy-header-two {
    max-width: 1400px;
    margin: 0 auto;
  }
  .etsy-logo svg {
    width: 80px;
    height: 40px;
  }
  .search-bar {
    margin-left: 18px;
    padding-right: 14px;
  }
  .search-icon {
    right: 38px;
  }
  .etsy-nav {
    display: block;
  }
  .etsy-nav li {
    margin: -1px 11px 0px 0px;
}
}
