.sports-essentials {
    padding: 0px 0px 10px;   
    display: flex;
    border-top: 1px solid #eaeaea;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    max-width: 1600px;
    margin-inline: auto;
}
.sports-essential-main-card {
    width: 230px;
    position: relative;
    height: 361px;
}
.data-main-card-two-content {
    bottom: -10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    transform: translate(10px, -16px);
  }
  .data-main-card-two-content h2 {
    font-size: 30px;
    word-wrap: break-word;
    line-height: 1.38;
    font-weight: 400;
    width: 210px;
    font-family: "roboto-regular";
  }
  
  .view-all-btn-card-two {
    margin-top: 24px;
    background-color: #2874f0;
    color: #fff;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    width: 95px;
    height: 38px;
    border-radius: 2px;
    font-family: "roboto-regular";
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sports-essential-products {
    display: flex;
    overflow-x: hidden;
}