@font-face {
    font-family: 'airbnb-medium';
    src: url(assets/font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}
@font-face {
    font-family: 'airbnb-regular';
    src: url(/assets/font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}
@font-face {
    font-family: 'airbnb-bold';
    src: url(/assets/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: none;
}
.airbnb-header-one{
    padding: 14px 24px 0 24px;
}
.header-content-one{
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0,0,0,0.08);   
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
    border-radius: 1000px;
    display: flex;
    min-height: 56px;
    min-width: 285px;
    align-items: stretch;
}
.header-content-left-one{
    align-items: center;
    display: flex;
    min-width: 100px;
    width: 100%;
}

.header-btn-one{
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 100%;
}
.btn-search-img{
    padding: 0px 16px 0px 20px;
}

.btn-text{
    display: flex;
    min-width: 0;
    flex-direction: column;
    width: 100%;
    padding-left: 2px;
    
}
.where-to{
    display: flex;
    min-width: 0;
  
}
.where-to p{
    display: flex;
    min-width: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'airbnb-regular';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-text-down{
    display: flex;
    min-width: 0;
    color: #717171;
    font-size: 12px;
    line-height: 16px;
    font-family: 'airbnb-regular';

}
.anywhere{
    display: flex;
    min-width: 50px;

}
.anywhere p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}
.dots-header{
    padding: 0 5px;
}

.anyweek{
    display: flex;
    min-width: 50px;

}
.anyweek p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.addguest{
    display: flex;
    min-width: 50px;
}
.addguest p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-content-right-one{
    display: flex;
}
.filter-btn{
    border: 1px solid #DDDDDD;
    border-radius: 25px;
    margin: 0 10px;
    display: flex;
    box-sizing: border-box;
    height: 36px;
    align-items: center;
    justify-content: center;
    width: 36px;
    position: relative;
}
.filter-btn svg{
    display: block;
    height: 16px;
    width: 16px;
    
}
.above-header{
    background-color: #f7f7f7;
    transition: all 400ms ease-in-out;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 6%);
    z-index: 11;
    width: 100%;
    height: 64px;
    overflow: clip;
    position: relative;
}

.above-header-content{
    margin-left: 0;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: #222222;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
}
.above-header-content h1{
    color: #222222;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: 'airbnb-regular';
    letter-spacing: 0.04px;
    word-spacing: 1px;
}
.learn-more{
    margin-left: 8px;
}
.learn-more-btn{
    margin: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background: transparent;
    border: none;
    padding: 0;

}
.learn-more-btn a{
    color: #222222;
    font-size: 16px;
    font-family: 'airbnb-medium';
}

.airbnb-header-two{
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-content-two{
    padding: 0 40px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;

}
.airbnb-logo{
    color: #FF385C;
    display: flex;
    align-items: center;
    display: inline-flex;
    height: 80px;
    z-index: 1;
    flex: 0 0 auto;

}
.airbnb-logo-two{
    color: #FF385C;
    display: flex;
    align-items: center;
    display: inline-flex;
    height: 80px;
    z-index: 1;
    flex: 0 0 auto;

}
.airbnb-header-btn{ 
    padding: 0 24px;
    min-width: 348px;   
    flex: 0 1 auto;

    
}
.airbnb-search-btn{
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 /8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    padding-left: 8px;
}
.anywhere-two{
    border-radius: inherit;
    border-bottom-left-radius: inherit;
    background: transparent;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    margin: -1px;
    display: flex;
    align-items: center;
    min-width: 0;
    height: 48px;
    border: 0;


}
.anywhere-two p{
    font-size: 14px;
    padding: 0 16px;
    line-height: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'airbnb-regular';
    color: #222222;

}
.slash{
    background-color: #DDDDDD;
    height: 24px;
    width: 1px;
}

.anyweek-two{
    padding-left: 8px;
    border-radius: inherit;
    border-bottom-left-radius: inherit;
    background: transparent;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    margin: -1px;
    display: flex;
    align-items: center;
    min-width: 0;
    height: 48px;
    border: 0;

}
.anyweek-two p{
    font-size: 14px;
    padding: 0 16px;
    line-height: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'airbnb-regular';
    color: #222222;

}
.addguests-two {
    padding-left: 8px;
    border-radius: inherit;
    border-bottom-left-radius: inherit;
    background: transparent;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    margin: -1px;
    display: flex;
    align-items: center;
    min-width: 0;
    height: 48px;
    border: 0;


}
.addguests-two p{
    font-size: 14px;
    padding: 0 16px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'airbnb-regular';
    color: #717171;

}
.search-btn-two{
    margin: 7px 7px 7px 7px;
    border-radius: 50%;
    padding: 10px;
    background-color: #FF385C;
}

.search-btn-two svg{
    color: #FFFFFF;
    height: 32px;
    width: 32px;
}
.airbnb-your-home-content{
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: flex-end;
}
.home-browzer{
    display: flex;
    margin-right: 8px;
}
.your-home{
    display: flex;
    align-items: center;
    padding: 12px;
    white-space: nowrap;
}
.your-home a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-family: 'airbnb-medium';
    
}
.browzer-logo{
    background: transparent;
    padding: 12px;
    transform: translateY(1px);
}
.profile{
    padding: 5px 5px 5px 12px;
    background: transparent;
    margin: 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    display: flex;
    align-items: center;


}

.profile-icon{
    width: 30px;
    height: 30px;
    margin-left: 12px;
    color: #717171;
}

@media screen and (min-width: 320px) {
    .above-header{
        display: none;
    }
    .airbnb-header-two{
        display: none;
    }
    .airbnb-logo-two{
        display: none;
    }
}
@media screen and (min-width: 744px) {
    .airbnb-header-one{
        display: none;
    }
    .above-header{
        display: block;
    }
    .airbnb-header-two{
        display: block;
    }
}
@media screen and (min-width: 950px){
    .airbnb-logo{
        flex: 1 0 140px;
    }
    .airbnb-your-home-content{
        flex: 1 0 140px;
    }
}
@media screen and (min-width: 1120px){
    .airbnb-logo-two{
        display: flex;
        align-items: center;
        flex: 1 0 140px;

    }
    .airbnb-logo{
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header-content-two{
        padding: 0 80px;
    }
}