*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.developer-stories {
    margin-top: 1px;
    margin-bottom: 1px;
}

.developer-stories img {
    width: 100%;
    vertical-align: middle;
}

.developer-stories-content {
    background-color: #000;
    color: #fff;

}

.developer-stories-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.75rem;
    padding-left: 0.75rem;

}
.developer-stories-content-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #000;
    color: #fff;
}

.developer-stories-content-container h2 {
    color: #fff;
    font-size: 19px;
    margin: 0px 0px 8px;
    font-family: 'latest1';
    font-weight: 600;
    line-height: 1.2;
}

.developer-stories-btn-container {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    text-align: left;
}
.watch-story {
    margin: 16px 24px 16px 0px;
    padding: 10px 12px 10px 35px;
    background-color: #0078D4;
    color: #fff;
    font-weight: 600;
    border: 0.125rem solid transparent;
    border-radius: 0.125rem;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    font-family: 'latest2';
}

.play-btn {
    position: relative;
}

.play-btn::before {
    left: -1.5rem;
    content: "î¹Œ";
    font-family: "mwfluenticon";
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
}

.more-developers-stories-btn {
    font-size: 16px;
    color: #50E6FF;
    padding: 8px 27px 8px 0px;
}