.desktop-main-body {
  padding: 8px;
}
.nav-bar-container {
  display: flex;
  overflow-x: scroll;
  padding-right: 22px;
  height: 72.4955px;
  background-color: #fff;
}
.carousel-mobile {
  display: flex;
  overflow: hidden;
  
}
.carousel-img {
  transform: translate(0);
}
.fashion-nav {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  transform: translateY(-4px);
}
.offer-nav {
  display: flex;
    background-color: rgba(255, 255, 255, 1);
    transform: translateY(-4px);
  }
@media screen and (min-width: 320px) {
  .Desktop-home-page {
    display: none;
  }
  .flipkart-footer {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .Mobile-home-page {
    display: none;
  }

  .Desktop-home-page {
    display: block;
  }
  .flipkart-footer {
    display: block;
  }
}
